# Analyzing Age Demographics by Census Block

I'll bring age data from social explorer from 2021 that breaks down age by block group, clean it up, and then create bar charts and stacked charts to show the age dynamics by block.

In [1]:
import pandas as pd
import geopandas as gpd
import folium
import matplotlib.pyplot as plt
import networkx as nx
import contextily as ctx
import plotly.express as px
import osmnx as ox

Here is the data dictionary for this data that I'm bringing in from the 2021 ACS Community Survey "Age" table. Let's bring in the data now as a CSV.

   1. Age
         Universe:  Total Population
         Name:      A01001
         Variables:
            A01001_001:   Total Population:
            A01001_002:      Under 5 Years
            A01001_003:      5 to 9 Years
            A01001_004:      10 to 14 Years
            A01001_005:      15 to 17 Years
            A01001_006:      18 to 24 Years
            A01001_007:      25 to 34 Years
            A01001_008:      35 to 44 Years
            A01001_009:      45 to 54 Years
            A01001_010:      55 to 64 Years
            A01001_011:      65 to 74 Years
            A01001_012:      75 to 84 Years
            A01001_013:      85 Years and Over

In [2]:
df = pd.read_csv('data/ACS_age_data.csv')

Now to inspect the data and see what it looks like.

In [3]:
df.shape

(571, 80)

To expand the table limits and ensure that we can see all the column headers

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Fixing the FIPS codes

State should be fine as 11 but county needs to show up as 001 instead of 1 for DC. I'll bring the file back in as a string to help.

In [5]:
df = pd.read_csv(
    'data/ACS_age_data.csv',
    dtype=
    {
        'Geo_FIPS':str,
        'Geo_STATE':str,
        'Geo_COUNTY': str
    }
)

Let's double check that it worked:

In [6]:
df.head()

,Geo_FIPS,Geo_QName,Geo_FILEID,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_LOGRECNO,Geo_US,Geo_REGION,Geo_DIVISION,Geo_STATECE,Geo_STATE,Geo_COUNTY,Geo_COUSUB,Geo_PLACE,Geo_TRACT,Geo_BLKGRP,Geo_CONCIT,Geo_AIANHH,Geo_AIANHHFP,Geo_AIHHTLI,Geo_AITSCE,Geo_AITS,Geo_ANRC,Geo_CBSA,Geo_CSA,Geo_METDIV,Geo_MACC,Geo_MEMI,Geo_NECTA,Geo_CNECTA,Geo_NECTADIV,Geo_UA,Geo_UACP,Geo_CDCURR,Geo_SLDU,Geo_SLDL,Geo_VTD,Geo_ZCTA3,Geo_ZCTA5,Geo_SUBMCD,Geo_SDELM,Geo_SDSEC,Geo_SDUNI,Geo_UR,Geo_PCI,Geo_TAZ,Geo_UGA,Geo_PUMA5,Geo_PUMA1,Geo_GEOID,Geo_NAME,Geo_BTTR,Geo_BTBG,Geo_PLACESE,SE_A01001_001,SE_A01001_002,SE_A01001_003,SE_A01001_004,SE_A01001_005,SE_A01001_006,SE_A01001_007,SE_A01001_008,SE_A01001_009,SE_A01001_010,SE_A01001_011,SE_A01001_012,SE_A01001_013,PCT_SE_A01001_002,PCT_SE_A01001_003,PCT_SE_A01001_004,PCT_SE_A01001_005,PCT_SE_A01001_006,PCT_SE_A01001_007,PCT_SE_A01001_008,PCT_SE_A01001_009,PCT_SE_A01001_010,PCT_SE_A01001_011,PCT_SE_A01001_012,PCT_SE_A01001_013
0,110010001011,"Block Group 1, Census Tract 1.01, District of ...",ACSSF,dc,150,0,215,NaN,NaN,NaN,NaN,11,001,NaN,NaN,101,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15000US110010001011,Block Group 1,NaN,NaN,NaN,1281,49,54,0,0,28,234,285,237,58,177,130,29,3.83,4.22,0.00,0.00,2.19,18.27,22.25,18.50,4.53,13.82,10.15,2.26
1,110010001021,"Block Group 1, Census Tract 1.02, District of ...",ACSSF,dc,150,0,216,NaN,NaN,NaN,NaN,11,001,NaN,NaN,102,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15000US110010001021,Block Group 1,NaN,NaN,NaN,1423,20,52,67,0,22,329,53,223,407,133,67,50,1.41,3.65,4.71,0.00,1.55,23.12,3.72,15.67,28.60,9.35,4.71,3.51
2,110010001022,"Block Group 2, Census Tract 1.02, District of ...",ACSSF,dc,150,0,217,NaN,NaN,NaN,NaN,11,001,NaN,NaN,102,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15000US110010001022,Block Group 2,NaN,NaN,NaN,962,51,0,70,15,31,135,62,116,168,212,56,46,5.30,0.00,7.28,1.56,3.22,14.03,6.44,12.06,17.46,22.04,5.82,4.78
3,110010001023,"Block Group 3, Census Tract 1.02, District of ...",ACSSF,dc,150,0,218,NaN,NaN,NaN,NaN,11,001,NaN,NaN,102,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15000US110010001023,Block Group 3,NaN,NaN,NaN,842,17,43,0,0,15,152,103,134,87,109,126,56,2.02,5.11,0.00,0.00,1.78,18.05,12.23,15.91,10.33,12.95,14.96,6.65
4,110010002011,"Block Group 1, Census Tract 2.01, District of ...",ACSSF,dc,150,0,219,NaN,NaN,NaN,NaN,11,001,NaN,NaN,201,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15000US110010002011,Block Group 1,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We're good to go!

## Getting rid of null columns

Lots of null columns to get rid of and then we'll also want to clean up the columns.

In [7]:
df.head()

,Geo_FIPS,Geo_QName,Geo_FILEID,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_LOGRECNO,Geo_US,Geo_REGION,Geo_DIVISION,Geo_STATECE,Geo_STATE,Geo_COUNTY,Geo_COUSUB,Geo_PLACE,Geo_TRACT,Geo_BLKGRP,Geo_CONCIT,Geo_AIANHH,Geo_AIANHHFP,Geo_AIHHTLI,Geo_AITSCE,Geo_AITS,Geo_ANRC,Geo_CBSA,Geo_CSA,Geo_METDIV,Geo_MACC,Geo_MEMI,Geo_NECTA,Geo_CNECTA,Geo_NECTADIV,Geo_UA,Geo_UACP,Geo_CDCURR,Geo_SLDU,Geo_SLDL,Geo_VTD,Geo_ZCTA3,Geo_ZCTA5,Geo_SUBMCD,Geo_SDELM,Geo_SDSEC,Geo_SDUNI,Geo_UR,Geo_PCI,Geo_TAZ,Geo_UGA,Geo_PUMA5,Geo_PUMA1,Geo_GEOID,Geo_NAME,Geo_BTTR,Geo_BTBG,Geo_PLACESE,SE_A01001_001,SE_A01001_002,SE_A01001_003,SE_A01001_004,SE_A01001_005,SE_A01001_006,SE_A01001_007,SE_A01001_008,SE_A01001_009,SE_A01001_010,SE_A01001_011,SE_A01001_012,SE_A01001_013,PCT_SE_A01001_002,PCT_SE_A01001_003,PCT_SE_A01001_004,PCT_SE_A01001_005,PCT_SE_A01001_006,PCT_SE_A01001_007,PCT_SE_A01001_008,PCT_SE_A01001_009,PCT_SE_A01001_010,PCT_SE_A01001_011,PCT_SE_A01001_012,PCT_SE_A01001_013
0,110010001011,"Block Group 1, Census Tract 1.01, District of ...",ACSSF,dc,150,0,215,NaN,NaN,NaN,NaN,11,001,NaN,NaN,101,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15000US110010001011,Block Group 1,NaN,NaN,NaN,1281,49,54,0,0,28,234,285,237,58,177,130,29,3.83,4.22,0.00,0.00,2.19,18.27,22.25,18.50,4.53,13.82,10.15,2.26
1,110010001021,"Block Group 1, Census Tract 1.02, District of ...",ACSSF,dc,150,0,216,NaN,NaN,NaN,NaN,11,001,NaN,NaN,102,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15000US110010001021,Block Group 1,NaN,NaN,NaN,1423,20,52,67,0,22,329,53,223,407,133,67,50,1.41,3.65,4.71,0.00,1.55,23.12,3.72,15.67,28.60,9.35,4.71,3.51
2,110010001022,"Block Group 2, Census Tract 1.02, District of ...",ACSSF,dc,150,0,217,NaN,NaN,NaN,NaN,11,001,NaN,NaN,102,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15000US110010001022,Block Group 2,NaN,NaN,NaN,962,51,0,70,15,31,135,62,116,168,212,56,46,5.30,0.00,7.28,1.56,3.22,14.03,6.44,12.06,17.46,22.04,5.82,4.78
3,110010001023,"Block Group 3, Census Tract 1.02, District of ...",ACSSF,dc,150,0,218,NaN,NaN,NaN,NaN,11,001,NaN,NaN,102,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15000US110010001023,Block Group 3,NaN,NaN,NaN,842,17,43,0,0,15,152,103,134,87,109,126,56,2.02,5.11,0.00,0.00,1.78,18.05,12.23,15.91,10.33,12.95,14.96,6.65
4,110010002011,"Block Group 1, Census Tract 2.01, District of ...",ACSSF,dc,150,0,219,NaN,NaN,NaN,NaN,11,001,NaN,NaN,201,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15000US110010002011,Block Group 1,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 80 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Geo_FIPS           571 non-null    object
 1   Geo_QName          571 non-null    object
 2   Geo_FILEID         571 non-null    object
 3   Geo_STUSAB         571 non-null    object
 4   Geo_SUMLEV         571 non-null    int64
 5   Geo_GEOCOMP        571 non-null    int64
 6   Geo_LOGRECNO       571 non-null    int64
 7   Geo_US             0 non-null      float64
 8   Geo_REGION         0 non-null      float64
 9   Geo_DIVISION       0 non-null      float64
 10  Geo_STATECE        0 non-null      float64
 11  Geo_STATE          571 non-null    object
 12  Geo_COUNTY         571 non-null    object
 13  Geo_COUSUB         0 non-null      float64
 14  Geo_PLACE          0 non-null      float64
 15  Geo_TRACT          571 non-null    int64
 16  Geo_BLKGRP         571 non-null    int64
 17  Geo_CONCIT         0 non-null      float64
 18  Geo_AIANHH         0 non-null      float64
 19  Geo_AIANHHFP       0 non-null      float64
 20  Geo_AIHHTLI        0 non-null      float64
 21  Geo_AITSCE         0 non-null      float64
 22  Geo_AITS           0 non-null      float64
 23  Geo_ANRC           0 non-null      float64
 24  Geo_CBSA           0 non-null      float64
 25  Geo_CSA            0 non-null      float64
 26  Geo_METDIV         0 non-null      float64
 27  Geo_MACC           0 non-null      float64
 28  Geo_MEMI           0 non-null      float64
 29  Geo_NECTA          0 non-null      float64
 30  Geo_CNECTA         0 non-null      float64
 31  Geo_NECTADIV       0 non-null      float64
 32  Geo_UA             0 non-null      float64
 33  Geo_UACP           0 non-null      float64
 34  Geo_CDCURR         0 non-null      float64
 35  Geo_SLDU           0 non-null      float64
 36  Geo_SLDL           0 non-null      float64
 37  Geo_VTD            0 non-null      float64
 38  Geo_ZCTA3          0 non-null      float64
 39  Geo_ZCTA5          0 non-null      float64
 40  Geo_SUBMCD         0 non-null      float64
 41  Geo_SDELM          0 non-null      float64
 42  Geo_SDSEC          0 non-null      float64
 43  Geo_SDUNI          0 non-null      float64
 44  Geo_UR             0 non-null      float64
 45  Geo_PCI            0 non-null      float64
 46  Geo_TAZ            0 non-null      float64
 47  Geo_UGA            0 non-null      float64
 48  Geo_PUMA5          0 non-null      float64
 49  Geo_PUMA1          0 non-null      float64
 50  Geo_GEOID          571 non-null    object
 51  Geo_NAME           571 non-null    object
 52  Geo_BTTR           0 non-null      float64
 53  Geo_BTBG           0 non-null      float64
 54  Geo_PLACESE        0 non-null      float64
 55  SE_A01001_001      571 non-null    int64
 56  SE_A01001_002      571 non-null    int64
 57  SE_A01001_003      571 non-null    int64
 58  SE_A01001_004      571 non-null    int64
 59  SE_A01001_005      571 non-null    int64
 60  SE_A01001_006      571 non-null    int64
 61  SE_A01001_007      571 non-null    int64
 62  SE_A01001_008      571 non-null    int64
 63  SE_A01001_009      571 non-null    int64
 64  SE_A01001_010      571 non-null    int64
 65  SE_A01001_011      571 non-null    int64
 66  SE_A01001_012      571 non-null    int64
 67  SE_A01001_013      571 non-null    int64
 68  PCT_SE_A01001_002  555 non-null    float64
 69  PCT_SE_A01001_003  555 non-null    float64
 70  PCT_SE_A01001_004  555 non-null    float64
 71  PCT_SE_A01001_005  555 non-null    float64
 72  PCT_SE_A01001_006  555 non-null    float64
 73  PCT_SE_A01001_007  555 non-null    float64
 74  PCT_SE_A01001_008  555 non-null    float64
 75  PCT_SE_A01001_009  555 non-null    float64
 76  PCT_SE_A01001_010  555 non-null    float64
 77  PCT_SE_A01001_011  555 non-null    float64
 78  PCT_SE_A01001_012  555 non-null    float64
 79  PCT_SE_A01001_013  555 non-null    float64
dtypes: float64(54), int64(18), object(8)
memory usage: 357.0+ KB

Let's drop the null columns using isna().all and dropna commands.

In [9]:
df.columns[df.isna().all()].tolist()

['Geo_US',
 'Geo_REGION',
 'Geo_DIVISION',
 'Geo_STATECE',
 'Geo_COUSUB',
 'Geo_PLACE',
 'Geo_CONCIT',
 'Geo_AIANHH',
 'Geo_AIANHHFP',
 'Geo_AIHHTLI',
 'Geo_AITSCE',
 'Geo_AITS',
 'Geo_ANRC',
 'Geo_CBSA',
 'Geo_CSA',
 'Geo_METDIV',
 'Geo_MACC',
 'Geo_MEMI',
 'Geo_NECTA',
 'Geo_CNECTA',
 'Geo_NECTADIV',
 'Geo_UA',
 'Geo_UACP',
 'Geo_CDCURR',
 'Geo_SLDU',
 'Geo_SLDL',
 'Geo_VTD',
 'Geo_ZCTA3',
 'Geo_ZCTA5',
 'Geo_SUBMCD',
 'Geo_SDELM',
 'Geo_SDSEC',
 'Geo_SDUNI',
 'Geo_UR',
 'Geo_PCI',
 'Geo_TAZ',
 'Geo_UGA',
 'Geo_PUMA5',
 'Geo_PUMA1',
 'Geo_BTTR',
 'Geo_BTBG',
 'Geo_PLACESE']

In [10]:
df = df.dropna(axis=1,how="all")

Double check that it worked:

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Geo_FIPS           571 non-null    object
 1   Geo_QName          571 non-null    object
 2   Geo_FILEID         571 non-null    object
 3   Geo_STUSAB         571 non-null    object
 4   Geo_SUMLEV         571 non-null    int64
 5   Geo_GEOCOMP        571 non-null    int64
 6   Geo_LOGRECNO       571 non-null    int64
 7   Geo_STATE          571 non-null    object
 8   Geo_COUNTY         571 non-null    object
 9   Geo_TRACT          571 non-null    int64
 10  Geo_BLKGRP         571 non-null    int64
 11  Geo_GEOID          571 non-null    object
 12  Geo_NAME           571 non-null    object
 13  SE_A01001_001      571 non-null    int64
 14  SE_A01001_002      571 non-null    int64
 15  SE_A01001_003      571 non-null    int64
 16  SE_A01001_004      571 non-null    int64
 17  SE_A01001_005      571 non-null    int64
 18  SE_A01001_006      571 non-null    int64
 19  SE_A01001_007      571 non-null    int64
 20  SE_A01001_008      571 non-null    int64
 21  SE_A01001_009      571 non-null    int64
 22  SE_A01001_010      571 non-null    int64
 23  SE_A01001_011      571 non-null    int64
 24  SE_A01001_012      571 non-null    int64
 25  SE_A01001_013      571 non-null    int64
 26  PCT_SE_A01001_002  555 non-null    float64
 27  PCT_SE_A01001_003  555 non-null    float64
 28  PCT_SE_A01001_004  555 non-null    float64
 29  PCT_SE_A01001_005  555 non-null    float64
 30  PCT_SE_A01001_006  555 non-null    float64
 31  PCT_SE_A01001_007  555 non-null    float64
 32  PCT_SE_A01001_008  555 non-null    float64
 33  PCT_SE_A01001_009  555 non-null    float64
 34  PCT_SE_A01001_010  555 non-null    float64
 35  PCT_SE_A01001_011  555 non-null    float64
 36  PCT_SE_A01001_012  555 non-null    float64
 37  PCT_SE_A01001_013  555 non-null    float64
dtypes: float64(12), int64(18), object(8)
memory usage: 169.6+ KB

## Redefine Columns

We're going to take these variables and rename the columns to make it easier to work with:

In [12]:
columns_to_keep = ['Geo_FIPS',
                   'SE_T004_019',
                   'SE_T004_001',
                   'SE_T004_003',
                   'SE_T004_005',
                   'SE_T004_007',
                   'SE_T004_009',
                   'SE_T004_011',
                   'SE_T004_013',
                   'SE_T004_015',
                   'SE_T004_017']
df2 = df[columns_to_keep].copy

KeyError: "['SE_T004_019', 'SE_T004_001', 'SE_T004_003', 'SE_T004_005', 'SE_T004_007', 'SE_T004_009', 'SE_T004_011', 'SE_T004_013', 'SE_T004_015', 'SE_T004_017'] not in index"